body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* Corrigido */
}

p {
    color: blue;
    text-align: center;
}

h1 {
    color: red;
    text-align: center;
}